body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(250, 216, 222);
}

.user-saldo {
    display: flex;
    align-items: center;
}

.saldo {
    background: rgb(250, 216, 222);
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid rgb(255, 145, 163);
    margin-right: 10px;
}